---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import { getBlogPosts } from "../../lib/hygraph";
import PostCard from "../../components/PostCard.astro";

const posts = await getBlogPosts();
---

<Layout title="Blog">
  <Hero
    title="Benvenuti nel Mio Blog"
    description="Coach Genitoriale ed Educatrice che aiuta le famiglie a creare relazioni armoniose"
  />
  <section class:list={["container", "blog-index "]}>
    <h1>Articoli del Blog</h1>
    <div class="posts-grid">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </section>
</Layout>

<style>
  .blog-index {
    margin-bottom: 4rem;
    h1 {
      font-family: var(--font-heading);
      font-size: 2.5rem;
      color: var(--color-primary);
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  @media (max-width: 768px) {
    .blog-index h1 {
      font-size: 2rem;
    }

    .posts-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
