---
import Hero from "../components/Hero.astro";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
import { getBlogPosts } from "../lib/hygraph";

const recentPosts = await getBlogPosts(4);
---

<Layout title="Home">
  <Hero
    title="Benvenuti nel Mio Blog"
    description={`Coach Genitoriale ed Educatrice che aiuta le famiglie a creare relazioni
    armoniose`}
  />

  <section class="recent-posts">
    <h2>Articoli Recenti</h2>
    <div class="posts-grid">
      {recentPosts.map((post) => <PostCard post={post} />)}
    </div>
  </section>
</Layout>

<style>
  .recent-posts {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: 0 var(--container-padding);
  }
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  @media (max-width: 768px) {
    .posts-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
