---
interface Props {
  title: string;
  description?: string;
  coverImage?: string;
  date?: string;
}

const {
  title,
  description,
  coverImage = "/default-hero-bg.jpg",
  date,
} = Astro.props;
---

<section
  class="hero"
  style={coverImage ? `--hero-bg-image: url(${coverImage})` : ""}
>
  <div class="hero-content">
    <h1>{title}</h1>
    <p>
      {description ? { description } : ""}
    </p>
    <span>
      {
        date ? (
          <time datetime={date}>
            {new Date(date).toLocaleDateString("it-IT", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
        ) : (
          ""
        )
      }
    </span>
  </div>

  <style>
    .hero {
      position: relative;
      text-align: center;
      padding: var(--spacing-4xl) 0;
      margin-bottom: var(--spacing-2xl);
      overflow: hidden;
      isolation: isolate;
      background-color: var(--color-primary);
      color: var(--color-white);
      p {
        line-height: var(--spacing-lg);
        margin-bottom: var(--spacing-sm);
      }
      time {
        color: var(--color-secondary);
        font-style: italic;
      }
    }

    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    .hero-content {
      position: relative;
      z-index: 1;
    }

    .hero h1 {
      font-family: var(--font-heading);
      font-size: var(--font-size-5xl);
      margin-bottom: var(--spacing-md);
    }

    .hero p {
      font-size: var(--font-size-xl);
      max-width: 800px;
      margin: 0 auto;
      opacity: 0.9;
    }
  </style>
</section>
